
.progress-bar {
    width:0%;
    height:5px;
    background:linear-gradient(to right,rgb(76,217,105),rgb(90,200,250),rgb(0,132,255),rgb(52,170,220),rgb(88,86,217),rgb(255,45,83),rgb(76,217,105));
    margin-top:10px;
    background-size:350px 5px;
    border-radius:10px;
    animation:loading 1s ease-in-out forwards;
  }
  
  @keyframes loading {
    to {
      width:100%;
    }
  }